body{
    margin: 0%;
    background-color: #e0e0e0;
    font-family: 'ubuntu',sans-serif;
}
.logo{
    height: 60px;
    width: 60px;
    vertical-align: middle;
}
.login{ 
    float: right;
    text-decoration-line: none;
    color: black;
    padding: 20px;
   
}
#radisson{
height: 200px;
width: 250px;

}   
#lalit{
    height: 200px;
    width: 250px;
}
#taj{
    height: 200px;
    width: 250px;
    background-color: rgb(132,136,139);
}
.footer{
    height: 20px;
    width: 22px;
}
#list-head{
    background-color: rosybrown;
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}
#footer-color{
    background-color: rosybrown;
    position: fixed;
    bottom: 0;
    right: 0%;
    left: 0%; 
    width: 100%;
    text-align: center;
   padding-top: 1%;
   display: flex;
   justify-content: space-between;
}
.rad-background{
    width: 40%;
    background-color: rgba(132,136,139,0.2);
    margin: 2%;
    display: inline-block;
    display: flex;
    flex-wrap: nowrap;
}
.rad-background:hover{
background-color: rosybrown;
}
.lalit-background{
    width: 40%;
    background-color: rgba(132,136,139,0.2);
    margin: 2%;
    display: inline-block;
    display: flex;
    flex-wrap: nowrap;
}
.lalit-background:hover{
    background-color: rosybrown;
}
.taj-background{
  width: 40%;
  background-color: rgba(132,136,139,0.2);
  margin: 2%;
  display: inline-block;
  display: flex;
  flex-wrap: nowrap;
}
.taj-background:hover{
    background-color: rosybrown;
}
.copy{
    text-align: center;
    vertical-align: bottom;
    font-size: 10px;
    padding: 0.5%;
}
#social-media{  
    float: right; 
    padding-bottom: 10px;
    padding-left: 10px;
  }
#contact{
    text-decoration-line: none;
    color: black;
    vertical-align: middle;
    padding-bottom: 10px;
    padding-left: 10px;
    float: left;
}
section{
    overflow-y: visible;
    overflow-x: visible;
    overflow: visible;
}
.list-view{
    margin-top: 5% ;
    text-align: center;
    text-decoration-line: none;
    color: black;
}
.map{
    display: block;
}
#hotel-view{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin-bottom: 5%;
   margin-left: 1%;
   padding-top: 20px;   
}
.hotel-name{
    padding: 2%;
}
.form-group{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.form-contact{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
 }
 #container {
    display: flex;
    flex-direction: column;
}
#pills-tab {
    justify-content: center;
    margin-top: 5% ;
    text-align: center;
    text-decoration-line: none;
    color: black;
}
.checked{
    color: orange;
}
#half{
 
}