body{
    margin: 0%;
    background-color: #e0e0e0;
    font-family: 'ubuntu',sans-serif;
    padding-bottom: 15%;
}
.logo{
    height: 60px;
    width: 60px;
    vertical-align: middle;
}
#radisson{
    height: 200px;
    width: 250px;
}
.footer{
    height: 20px;
    width: 22px;
}
#footer-color{
    background-color: rosybrown;
    position: fixed;
    bottom: 0;
    right: 0%;
    left: 0%; 
    width: 100%;
    text-align: center;
   padding-top: 1%;
   display: flex;
   justify-content: space-between;
   padding-bottom: 10px;
   padding-left: 2%;
}
#header{
    /* background-color: rosybrown;
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    width: 100%; */
    background-color: rosybrown;
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}
.content{
    margin: 0 auto;
    margin-top: 7%;
    margin-bottom: 2%;
    width: 50%;
    height: 20%;
    background-color: rgb(132,136,139);
    /* display: inline-block; */
    display: flex;
    flex-wrap: nowrap;
}
.information{
    margin: 2%;
    /* display: flex;
    flex-direction: column; */
    padding-top: 20px;
}
.tarrif{
    margin: 2%;
    /* border: 1px solid black; */
    padding: 1% 2%;
    border-radius: 5px;
}
.login{
    float: right;
    text-decoration-line: none;
    color: black;
    padding: 20px;
}
section{
    margin-bottom: 7%;  
}
.contact{
    text-decoration-line: none;
    color: black;
    vertical-align: middle;
    padding-bottom: 10px;
    padding-left: 10px;
    float: left;
}
.copy{
    text-align: center;
    vertical-align: bottom;
    font-size: 10px;
    padding: 0.5%;
}
#social-media{  
    float: right; 
    padding-bottom: 10px;
    padding-right: 10px;
  }
  .hotel-name{
    padding: 2%;
}
#payment{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    margin: 2%;
    border-radius: 5px;
    background-color: rosybrown;
    margin-top: 5%;
    padding: 10px;
    height: 150px;
    font-family: cursive;
}
.form-group{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.form-contact{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
 }
 @media only screen and (max-width:786px){
     body{
         width: 100%;
     }
     .content{
        width: 600px;
        margin-top: 15%;
     }
     #payment{
         height: 200px;
     }
 }
 @media only scree and (max-width:576px){
     body{
         width: 100%;
     }
     #radisson{
        position: fixed;
     }
     #payment{
         height: 100%;
     }
 }